name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Yarn Install
        uses: nuxt/actions-yarn@master
        with:
          args: install

      - name: Yarn Build
        uses: nuxt/actions-yarn@master
        with:
          args: build
      # - name: AWS CDK Deploy
      #   uses: nuxt/actions-yarn@master
      #   with:
      #     args: deploy
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
      #     AWS_REGION: us-east-1
      #     REF: ${GITHUB_REF}
      # - name: Run integration tests
      #   uses: nuxt/actions-yarn@master
      #   with:
      #     args: integration
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET }}
      #     AWS_REGION: us-east-1
